* {
	margin: 0;
	padding: 0;
}

body {
	background-color: hsl(185, 75%, 39%);
	font-size: 18px;
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	font-family: "Kumbh Sans", sans-serif;
	font-weight: 400;
	color: hsl(0, 0%, 59%);
}

.circle-top {
	position: absolute;
	top: -60%;
	left: -10%;
}

.circle-bottom {
	position: absolute;
	bottom: -60%;
	right: -10%;
}

.card {
	background-color: #fff;
	position: absolute;
	width: fit-content;
	height: 23rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	box-shadow: 0 0 10px 2px #3333331a;
}

.image img {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.profile {
	border-radius: 50%;
	position: absolute;
	top: 140px;
	left: 175px;
	border: 5px solid #fff;
	transform: translate(-50%, -50%);
}

.user {
	position: absolute;
	left: 175px;
	transform: translateX(-50%);
	text-align: center;
	top: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 200px;
}

.name {
	color: hsl(229, 23%, 23%);
	font-weight: 700;
	width: fit-content;
	font-size: 20px;
}

.age {
	margin: 0.1rem 0.5rem;
	font-size: 18px;
}

.list {
	list-style-type: none;
	position: absolute;
	left: 175px;
	transform: translateX(-50%);
	top: 300px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.list-card {
	width: 90px;
	text-align: center;
	margin: 0 0.5rem;
}

.number {
	font-size: 20px;
	font-weight: 700;
	color: hsl(229, 23%, 23%);
}

.text {
	font-size: 10px;
	letter-spacing: 3px;
}

/* Frontend Mentor */
.attribution {
	color: #000;
	font-size: 11px;
	margin: 0.5rem;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
